body {
    font-family: 'Calibri', sans-serif;
    background-color: #625298; /* Cor de fundo semelhante à do Salesforce */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 130%;
}

@media screen and (max-width: 500px) {
    body{
        padding-top: 1rem;
        font-size: 110%;
    }

    .card-principal{
        min-width: 325px;
        max-width: 500px;
    }

    /* .card-principal{
        width: 300px;
    } */
}

@media screen and (min-width: 501px) and (max-width: 767px){
    body{
        padding-top: 1rem;
        font-size: 110%;
    }

    .card-principal{
        min-width: 400px;
        max-width: 700px;
    }

    /* .card-principal{
        width: 300px;
    } */
}

@media screen and (min-width: 768px) {
    body{
        height: 80vh;
        align-items: center;
    }

    .card-principal {
        min-width: 300px;
        max-width: 800px;
    }

    #loginSection {
        font-size: 150%;
        width: 600px;
    }
}

/* * {
    box-sizing: border-box;
} */

.card {
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #d8dde6; /* Borda semelhante ao Salesforce */
    border-radius: 0.25rem; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra leve */
    padding: 1rem;
    margin: 0.5rem;
}

#loadingSection img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto; /* Isso garante que a altura seja ajustada proporcionalmente à largura */
    width: 400px;
}

.head-window{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;  
}

.week-info {
    font-size: 80%;
}

/* .card-principal {
    min-width: 200px;
    max-width: 800px;
} */

.principal-title {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.principal-subtitle {
    margin:0;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    font-size: 80%;
}

.standard-color {
    color: #330f5c;
}

.body-standard-text{
    color: black;
}

.align-between-st {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
}

/* Estilo para o botão */
button {
    background-color: #49296e; /* Cor de fundo do Salesforce */
    color: #ffffff; /* Cor do texto branco */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    border: 1px solid #1a072e; /* Sem borda */
    border-radius: 0.25rem; /* Borda arredondada */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

/* Estilo para o botão quando passa o mouse */
button:hover {
    background-color: #330f5c; /* Cor de fundo mais escura quando passa o mouse */
}

/* Estilo para o input */
input {
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid #d8dde6; /* Borda semelhante ao Salesforce */
    border-radius: 0.25rem; /* Borda arredondada */
}

/* Estilo para o input quando recebe foco */
input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: #0052cc; /* Cor da borda quando o input está focado */
    box-shadow: 0 0 0 0.2rem rgba(0, 82, 204, 0.25); /* Sombra de foco suave */
}

.input-name {
    flex-grow: 1; /* Ocupa todo o espaço disponível */
    margin-right: 0.3rem;
}