body {
    font-family: 'Calibri', sans-serif;
    background-color: #625298; /* Cor de fundo semelhante à do Salesforce */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 130%;
}

h4{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

@media screen and (max-width: 500px) {
    body{
        padding-top: 1rem;
        font-size: 110%;
    }

    .card-principal{
        min-width: 325px;
        max-width: 500px;
    }

    /* .card-principal{
        width: 300px;
    } */

    .container.body-standard-text{
        font-size: 65%;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px){
    body{
        padding-top: 1rem;
        font-size: 110%;
    }

    .card-principal{
        min-width: 400px;
        max-width: 700px;
    }

    /* .card-principal{
        width: 300px;
    } */

    .container.body-standard-text{
        font-size: 70%;
    }
}

@media screen and (min-width: 768px) {
    body{
        /* height: 80vh; */
        padding-top: 5vh;
        align-items: center;
    }

    .card-principal {
        min-width: 300px;
        max-width: 800px;
    }

    #loginSection {
        font-size: 150%;
        width: 600px;
    }

    .container.body-standard-text{
        font-size: 40%;
    }
}

/* * {
    box-sizing: border-box;
} */

.card {
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #d8dde6; /* Borda semelhante ao Salesforce */
    border-radius: 0.25rem; /* Borda arredondada */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); Sombra leve */
    padding: 1rem;
    margin: 0.5rem;
}

#loadingSection img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto; /* Isso garante que a altura seja ajustada proporcionalmente à largura */
    width: 400px;
}

.parent-card {
    padding-top: 10px;
    border-radius: 0.25rem;
    background-color: rgba(183, 180, 180, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.195);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.head-window {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;  
}

.designation-screen {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
}

.week-info {
    font-size: 70%;
    margin: 0px;
}

/* .card-principal {
    min-width: 200px;
    max-width: 800px;
} */

.principal-title {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.principal-subtitle {
    margin:0;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    font-size: 80%;
}

.standard-color {
    color: #330f5c;
}

.body-standard-text{
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.align-between-st {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
}

/* Estilo para o botão */
button {
    background-color: #49296e; /* Cor de fundo do Salesforce */
    color: #ffffff; /* Cor do texto branco */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    border: 1px solid #1a072e; /* Sem borda */
    border-radius: 0.25rem; /* Borda arredondada */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

/* Estilo para o botão quando passa o mouse */
button:hover {
    background-color: #330f5c; /* Cor de fundo mais escura quando passa o mouse */
}

/* Estilo para o input */
input {
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid #d8dde6; /* Borda semelhante ao Salesforce */
    border-radius: 0.25rem; /* Borda arredondada */
}

/* Estilo para o input quando recebe foco */
input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: #0052cc; /* Cor da borda quando o input está focado */
    box-shadow: 0 0 0 0.2rem rgba(0, 82, 204, 0.25); /* Sombra de foco suave */
}

.input-name {
    flex-grow: 1; /* Ocupa todo o espaço disponível */
    margin-right: 0.3rem;
}

/* Customize the label (the container) */
.container {    
    font-size: 40%;
    margin: 0.3rem 0rem 0rem 0rem;
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f3d8ff;
    border: 1px solid gray;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #6d24cc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }